[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
messages = "*"
django = "*"
django-crispy-forms = "*"
django-filter = "*"
django-mathfilters = "*"
pillow = "*"
gunicorn = "*"
whitenoise = "*"
postgres = "*"

[requires]
python_version = "3.7"
