{% extends 'index.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <h4 class="text-center">Change Your Password Here</h4>
    <div class="row justify-content-center">
    <div class="col-sm-5">
        <form action="" method="post" autocomplete="off">
            <div class="card card-body">
                {% csrf_token %}
{#                {{ form|crispy }}#}
                {% crispy form %}
                <div class="row justify-content-center">
                    <button class="btn btn-primary fa fa-key fa-lg">Change Password</button>
                </div>
            </div>
        </form>
    </div>
    </div>
{% endblock %}